<div class='row'>
  <div class='col-xs-12 col-md-6 col-md-offset-3'>
    <div class='well'>
      <h1>Purchase Successful</h1>
      <p>Thank you for your purchase. It will be delivered to your email address shortly.</p>
    </div>
</div>
